@use '../colors';

.w-panel {
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  color: $primary-color;
  background-color: $background-color;
  margin-bottom: 20px;

  &-shadow {
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    -moz-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &-title {
    font-family: 'Crete Round';
    // text-transform: uppercase;
    // font-weight: 600;
    font-size: 17px;
    color: $primary-color;
    padding-bottom: 5px;
    border-bottom: 1px solid $primary-color-elements;
    clear: both;
  }
}