@use '../colors';

.w-tabs {
  color: $primary-color-disabled;
  background-color: $background-color;
  padding-bottom: 10px;
  display: inline;


  .w-tab {
    display: inline;
    cursor: pointer;
    padding: 0px 10px 10px 10px;
    margin-right: 10px;
    border-bottom: 1px solid $primary-color-disabled;
  }

  .w-tab:hover {
    color: $primary-color-hover;
    .w-tabs-icon {
      background-color: $primary-color-strong;
    }
  }


  &-icon {
    display: inline-block;
    width: 18px;
    height: 18px;          
    background-size: cover;
    margin-right: 0px;
    background-color: $primary-color-disabled;

    position: relative;
    top: 4px;
    // left: 20px;
  }

  &-title {
    cursor: pointer;
    display: table-cell;
    // padding: 0px 10px 10px 15px;
    // border-bottom: 1px solid $primary-color-disabled;
  }

  &-icon.active {
    background-color: $primary-color-strong;
  }

  .active {
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
  }

}