
$background-color                 : rgb(245, 245, 245);

$primary-color                    : #515151;
$primary-color-hover              : #212121;
$primary-color-strong             : #616161;
$primary-color-background         : #ffffff;
$primary-color-disabled           : #b1b1b1;
$primary-color-elements           : #dddddd;
$primary-background-color-hover   : #eeeeee;

$secondary-background-color       : #e8e8e8;

$alert                            : rgb(168, 18, 18);
$active                           : #1818ee;
$valid                            : rgb(18, 128, 92);
// $info-color                   : #2db7f5;
         


     