/* cabin-regular - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cabin/cabin-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/cabin/cabin-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cabin/cabin-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cabin/cabin-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cabin/cabin-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cabin/cabin-v17-latin-regular.svg#Cabin') format('svg'); /* Legacy iOS */
}

/* cousine-regular - latin */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cousine/cousine-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/cousine/cousine-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cousine/cousine-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cousine/cousine-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cousine/cousine-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cousine/cousine-v16-latin-regular.svg#Cousine') format('svg'); /* Legacy iOS */
}

/* courier-prime-regular - latin */
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/courier/courier-prime-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/courier/courier-prime-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/courier/courier-prime-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/courier/courier-prime-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/courier/courier-prime-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/courier/courier-prime-v2-latin-regular.svg#CourierPrime') format('svg'); /* Legacy iOS */
}