
.icon {
  display: inline-block;
  width: 18px;
  height: 18px;          
  background-size: cover;
  /* margin: 5px; */
  margin-right: 0px;
  background-color: #666;
}

.icon-alert {
  mask: url(../icons/Alert.svg);
  -webkit-mask-image: url(../icons/Alert.svg);
  -webkit-mask-size: 100%;
  width: 18px;
  height: 18px;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-help {
  mask: url(../icons/Help.svg);
  -webkit-mask-image: url(../icons/Help.svg);
  -webkit-mask-size: 100%;
  width: 18px;
  height: 18px;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-settings {
  mask: url(../icons/Settings.svg);
  -webkit-mask-image: url(../icons/Settings.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-chat {
  mask: url(../icons/Chat.svg);
  -webkit-mask-image: url(../icons/Chat.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-bell {
  mask: url(../icons/Bell.svg);
  -webkit-mask-image: url(../icons/Bell.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-portrait {
  mask: url(../icons/Portrait.svg);
  -webkit-mask-image: url(../icons/Portrait.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-people-group {
  mask: url(../icons/PeopleGroup.svg);
  -webkit-mask-image: url(../icons/PeopleGroup.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-workflow {
  mask: url(../icons/Workflow.svg);
  -webkit-mask-image: url(../icons/Workflow.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-tasklist {
  mask: url(../icons/TaskList.svg);
  -webkit-mask-image: url(../icons/TaskList.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-callcenter {
  mask: url(../icons/CallCenter.svg);
  -webkit-mask-image: url(../icons/CallCenter.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-marketing-activities {
  mask: url(../icons/MarketingActivities.svg);
  -webkit-mask-image: url(../icons/MarketingActivities.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-demographic {
  mask: url(../icons/Demographic.svg);
  -webkit-mask-image: url(../icons/Demographic.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-shopping-cart {
  mask: url(../icons/ShoppingCart.svg);
  -webkit-mask-image: url(../icons/ShoppingCart.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-file-template {
  mask: url(../icons/FileTemplate.svg);
  -webkit-mask-image: url(../icons/FileTemplate.svg);
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-report {
  mask: url(../icons/Report.svg);
  -webkit-mask-image: url(../icons/Report.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-checkmark {
  mask: url(../icons/Checkmark.svg);
  -webkit-mask-image: url(../icons/Checkmark.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-search {
  mask: url(../icons/Search.svg);
  -webkit-mask-image: url(../icons/Search.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-close {
  mask: url(../icons/Close.svg);
  -webkit-mask-image: url(../icons/Close.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.icon-file-code {
  mask: url(../icons/FileCode.svg);
  -webkit-mask-image: url(../icons/FileCode.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

